//CUSTJCL JOB 'WD-CJCL',MSGLEVEL=(1,1),MSGCLASS=R,NOTIFY=&SYSUID
//*ROUTE PRINT @JCLPRINT@
//*JOBLIB DD DISP=SHR,
//* DSN=TODO.SDSNEXIT
//* DD DISP=SHR,
//* DSN=TODO.SDSNLOAD
//*******************************************
//*
//* Notes:
//*
//* This Jinja2 templates iterate over the variable that is passed in
//* over the loop conditions (environment.single_artifact)
//*
//* This template is processed for each artifact. It does
//*  submit a JCL per member
//*
//* In this sample we are printing everything to the instream dd for IEFBR14
//*
//* Author DBEHM
//*******************************************
//* CUSTOMIZATION JOB
//*******************************************
//**BEGIN
//JCLCUST EXEC PGM=IEFBR14,DYNAMNBR=20,COND=(4,LT)
//SYSTSPRT DD SYSOUT=*
//SYSPRINT DD SYSOUT=*
//SYSUDUMP DD SYSOUT=*
//SYSIN DD DUMMY
//SYSIN DD *
{# PRINT STEP ARTIFACT #}
{# --- #}
{% set artifact = environment.single_artifact %}
//{{ artifact['name'] }} DD *
Element name: {{ artifact['name'] }}

Element properties:
  {% for prop in artifact['properties'] %}
    {# Only get the path #}
    {% if prop['key'] == 'path' %}
   path: {{ prop['value'] }}
    {% endif %}
  {% endfor %}
Element hash: {{ artifact['hash'] }}
{# --- #}
{# you can also define variables #}
  {% set itemName = artifact['name'] %}
{# --- #}
end {{ itemName }} 
//*
//*